
@font-face 
  font-family "glyphicon"
  src url(/thirtyPart/font/iconfont.eot?t=1491897005252)
  src url(/thirtyPart/font/iconfont.eot?t=1491897005252#iefix) format('embedded-opentype'),
      url(/thirtyPart/font/iconfont.woff?t=1491897005252) format('woff'),
      url(/thirtyPart/font/iconfont.ttf?t=1491897005252) format('truetype'),
      url(/thirtyPart/font/iconfont.svg?t=1491897005252#iconfont) format('svg')

.glyphicon 
  font-family "glyphicon" !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.glyphicon-chevron-left:before
  content '\e6ab'
.glyphicon-chevron-right:before
  content '\e6aa'
.glyphicon-cart:before
  content '\e63f'
.glyphicon-search:before
  content '\e616'
