@import "color.styl"
.header
  .top
    height 30px
    background #fafafa
    line-height 30px
    .user-group
      float right
      span
        color #bbb
        margin-right 10px
  .middle
    height 120px
    .logo-img
      // width 314px
      height 77px
      margin-top 20px
    .search-container
      .input-group
        // width 430px
        margin-top 45px
  .bottom
    border-radius 0
    ul > li
      margin-right 40px
    ul
      li:last-child
        margin-right 0
        
// .navbar-collapse.in
//    position absolute
//    background black
//    z-index 999



