doctype html
html
  head
    title= title
    block css
  body
    block content
    block scripts
      script.
        var them = '#{them}';
        var styles = '#{styles}';
        var version = '#{version}';
