.col-sm-6.col-md-4
  .thumbnail
    img(src="images/1.png",alt="")
    .caption
      h3 Thumbnail label
      p #{name}
      p 
        a.btn.btn-primary(href="#", role="button") Button
        a.btn.btn-default(href="#", role="button") Button