@import "../common/header.styl"
@import "../common/footer.styl"
@import "../../../common/style/normal.styl"
.carousel
    margin-top -20px
    height 315px
.carousel-inner>.item>a>img, .carousel-inner>.item>img
    margin 0 auto
    height 315px
.carousel-control.right,.carousel-control.left
    background-image none
.carousel-inner>.item
    background #ccc
    text-align center
.list-box .thumbnail>img,.list-box .thumbnail a>img
    width 50px